#login {
    background: linear-gradient(120deg, #FF8400 44.9%, #fff 45%) no-repeat fixed;
}

#app {
    background: linear-gradient(120deg, #fff 44.9%, #FF8400 45%) no-repeat fixed;
}

header{
    border-bottom: 1px solid #bebcbc;
    background: #fff;
    padding: 5px;
}

.color-primary {
    color: #4e0070;
}

.color-secondary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    padding-top: 20px;
}

.text-login {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}

.coins {
    position: absolute;
    bottom: 10px;
}

.button-default {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
}

.button-cancel {
    border-radius: 10px;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 0 !important;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid #4e0070;
    background-color: #4e0070;
    color: #fff;
}

.button-float:hover {
    background-color: #fff;
    border: 2px solid #4c79d3;
    color: #4c79d3;
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
    width: 50%;
    margin: 0 25%;
}

.button-login :hover, .button-default:hover {
    background-color: #4c79d3;
}

.link-default {
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover {
    color: #4c79d3;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}